body {
    background-color: #0f121f;
    color: #fff;
}
.main_bg {
    width: 800px;
    margin: 0 auto;
    background-color:rgb(15,18,33);
    position: relative;
    padding:0px;

}
.header {
    height: 70px;
    width: 800px;
    background-color: #0f121f;
    background-image: url("stars.png");
}

.menu {
    height: 41px;
    width: 800px;
    margin-left:1px ;
}

.menu-list{
    list-style-type: none;
    margin-right: 1px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu-element{
    float: left;
}

.menu-element a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.list{
    display: block;
    padding-inline-start: 0px;
}

.list li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    border-bottom: white dotted 1px;
}

.list a {
    display: block;
    color:rgb(15,18,33);
    text-decoration: none;
}
.list a:hover{
    background-color:rgb(190,190,190) ;
}
.menu-element a:hover {
    background-color: #111111;
}

.banner {
    height: 268px;
    width: 796px;
    margin-top:8px;
    background-color: #0f121f;
    border: #111111 solid 1px;
    border-bottom: white solid 1px;
}
.main {
    padding-top:0px;
    display: flex;
    border-right: #111111 solid 1px;
    border-left: #111111 solid 1px;
    background-color: rgb(180,180,180);
    justify-content: space-around;
}
.linian{
    font-family: 宋体;
    font-size:20px;
    border-bottom: white solid 2px;
    padding:10px 20px 10px 20px;
    color: rgb(0, 127, 235);
}
.photo{
    width:100px;
    height:120px;
    background-color: white;
}


.intro{
    font-family:宋体;
    font-size:15px;
    color:rgb(51,51,51);
}

.main_right {
    width: 740px;
    border-width: 2px;
    margin: 20px 20px 20px 20px;
    background: rgb(210,210,210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.box{
    margin: 20px;
}
.title{
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    font-family: 微软雅黑;
    color: rgb(0, 127, 235);
}
.title_content{
    font-family: 宋体;
    font-size: 15px;
    color: rgb(15, 18, 33);
}

.article_content{
    margin: 20px 30px 20px 30px;
    font-family: 宋体;
    font-size: 15px;
    color: rgb(15, 18, 33);
}

.left_main{
    height: auto;
    width: 170px;
    background: rgb(210,210,210);
    margin: 20px 10px 20px 30px;
}
.right_main{
    height: auto;
    width: 550px;
    margin: 20px 30px 10px 10px;
}

.team_member{
    float: left;
    width: 400px;
    font-family: 宋体;
    font-size: 15px;
    color: rgb(15, 18, 33);
    margin-left: 20px;
}

.team_member li{
    margin-bottom: 10px;
}

.member_detail{
    float: left;

}
.member_detail li{
    list-style-type: none;
    margin-bottom: 7px;
}

.down_file{
    list-style: none;
    counter-reset: li
}
.down_file li{
    counter-increment: li;
    margin-bottom: 8px;
}
.down_file li:before{
    content: counter(li);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
    color: black;
}


.footer {
    display: flex;
    height: 35px;
    background: rgb(150,150,150);
    color: rgb(100,100,100);
    text-align: center;
    font-size: 70%;
    border-top:white solid 2px;
    justify-content: space-around;
    align-items: center;
    line-height: 18px;
    margin:0px 1px 1px 1px;
}
