{% extends 'resources.html'%}

{% block resources %}
    <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">工程案例</div>
    <div class="right" style="height: 400px;background-color:rgb(210,210,210);margin-bottom:10px">
        <br>
        <p class="article_content">
        工程案例:<br><br>
        案例教学法是一种可以激发学生求知欲，调动学生积极性，使学生主动思考，充分讨论并发表见解的一种互动式教学方法，可以有效
            改善学生学习效果、提高学生综合决策和解决实际问题能力。本课程在课堂上引入了多个工程案例，展开分析和讨论，启发和引
            导学生们解决实际工程问题的思维。部分案例如下：</p>
        <ul class="article_content">
            <li>波音777飞机2kHz噪声检测及其抑制</li>
            <li>机载测试系统的不确定度评定</li>
            <li>商用飞机大型部件自动对接中的检测问题</li>
            <li>无人机自主着舰过程中的多传感器信息融合技术</li>
            <li>山体滑坡监测中可行的传感器类型及部署</li>
            <li>基于Kinect的三维重构在“有眼力机器人”中的应用</li>
            <li>多传感器信息融合在空中目标识别和侦测中的应用</li>
        </ul>
        <p class="article_content">
            这些案例可以有助于学生理解和掌握课程要求的专业知识，同时可以拓宽视野，提高认知水平，学以致用，激发学生们的学习热情，大大
            提高了学生们的听课兴致，培养其分析问题解决实际问题的能力。

        </p>
    </div>
{% endblock %}