{% extends 'resources.html'%}

{% block resources %}
    <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">课件信息</div>
    <div class="right" style="height: 400px;background-color:rgb(210,210,210);margin-bottom:10px">
        <br>
        <p class="article_content"><strong>中英文多媒体课件:</strong><br>
        各章节采用多媒体课件，信息量大，理论结合工程案例，先介绍基础知识，再介绍实际应用、研究热点和发展趋势。为了让同学们熟
            悉专业词汇，尝试部分章节（如机器人传感器）采用纯英文课件。</p>
        <p class="article_content"><strong>国内外重要期刊学术前沿资料:</strong><br>
      课程部分章节均有配套的中英文论文阅读资料，选自IEEE Transactions等国外SCI期刊以及国内核心期刊，均是与各章节核心内容紧密
            相关的原理分析和实际应用。有的论文在课上详细讲解，有的提纲挈领讲解思路后发给学生课下阅读，作为课上内容的有效补充和拓展。</p>
    </div>

{% endblock %}