{% extends 'resources.html'%}

{% block resources %}
    <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">其他资源信息</div>
    <div class="right" style="height: 400px;background-color:rgb(210,210,210);margin-bottom:10px">
        <br>
        <p class="article_content"><strong>优秀设计报告资源库:</strong><br>
    将往届同学的部分优秀设计报告整理汇总为资源库，供学生们学习，虽然每年的设计题目均不同，但设计流程和报告撰写可以有很大的借鉴参考价值。
    </p>
        <p class="article_content"><strong>网络视频:</strong><br>
    利用互联网资源，在很多章节引入了网络视频，如Google的Big Dog，康奈尔大学的有眼力机器人，美国X47B无人机自主着舰成功/失败视
            频及分析等，视频资源可以直接引发学生对课程内容的关注，参与课堂讨论，激发学生们的学习热情。
    课程部分章节均有配套的中英文论文阅读资料，选自IEEE Transactions等国外SCI期刊以及国内核心期刊，均是与各章节核心内容紧密
            相关的原理分析和实际应用。有的论文在课上详细讲解，有的提纲挈领讲解思路后发给学生课下阅读，作为课上内容的有效补充和拓展。</p>
    </div>
{% endblock %}