{% extends 'resources.html'%}

{% block resources %}
    <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">教材及参考书</div>
    <div class="right" style="height: 400px;background-color:rgb(210,210,210);margin-bottom:10px">
        <br>
        <strong style="margin-left: 10px;color: #111111">教材及参考书:</strong>
        <ul class="title_content">
        <li>[1]陶红艳等.传感器与现代检测技术.清华大学出版社.2009（教材）</li>
        <li>[2]王俊杰等.传感器与检测技术.清华大学出版社.2011</li>
        <li>[3]何金田等.智能传感器原理、设计与应用.2011</li>
        <li>[4]周杏鹏等. 现代检测技术.高等教育出版社.2011</li>
        <li>[5]高晋占. 微弱信号检测. 清华大学出版社.2011</li>
        <li>[6]Lawrence A. Klein.多传感器数据融合理论与应用,北京理工大学出版社.2004</li>
        <li>[7]彭冬亮. 多传感器多源信息融合理论及应用. 西安电子科技大学出版社.2010</li>
        <li>[8]唐露新等.传感与检测技术. 科学出版社.2011</li>
        <li>[9]潘立登等.软测量技术. 中国电力出版社.2009</li>
        </ul>
    </div>

{% endblock %}