{% extends 'layout_base.html' %}

{% block content %}
        <div class="info" style="height:auto;width:740px;margin:20px 30px 20px 30px;">
            <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">课程考核</div>
            <div class="info_detail" style="height: auto;background-color:rgb(210,210,210);margin-bottom:0px">
                <br>
                <p class="article_content">课程采取多元化的考核方式，而非一考定终身，考核内容包括：</p>
                <ul style="color: black; margin-left: 10px">
                    <li>1）平时听课、回答问题情况（10%）</li>
                    <li>2）讨论课投入及参与情况（10%）</li>
                    <li>3）随堂测验（3~4次）（10%）</li>
                    <li>4）研究型设计作业（70%）</li>
                </ul>
                <p class="article_content">
                    课程设计作业源于生活，解决身边的检测问题，鼓励学生大胆创新。通过每一届学生不同题目设计报告的积累，建立设计报告资源库，以启发下一届同学的设计思维。
                </p>
                <br>
                <br>
            </div>
        </div>

{% endblock %}

