{% extends 'layout_base.html' %}

{% block content %}
        <div class="info" style="height:auto;width:740px;margin:20px 30px 20px 30px;">
            <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">教学内容</div>
            <div class="info_detail" style="height: auto;background-color:rgb(210,210,210);margin-bottom:0px">
                <br>
                <p class="article_content">课程教学内容包括六部分，包括绪论、现代检测系统的基础知识、先进传感器技术、多传
                    感器信息融合、微弱信号检测和软测量技术。</p>
                <p class="article_content">
                    1）<strong>绪论（2学时）</strong>主要介绍课程教学计划、内容安排、教材及参考书目、教学要求、教学目标和考核方式，以及检
                    测技术的地位和作用、检测系统的组成，检测系统的分类以及检测技术的发展趋势。
                </p>
                <p class="article_content">
                    2）<strong>现代检测系统的基础知识（2学时）</strong>主要讲解检测系统的基础和容易混淆的内容，包括误差和不确定度的区别、
                    不确定度的应用实例、有效数字、检测系统的动静态特性等内容，既强化了同学们本科阶段的基础内容，同时也为
                    本科没有学过检测课程的同学顺利学习后续课程章节奠定了基础。
                </p>
                <p class="article_content">
                    3）<strong>先进传感器技术（8学时）</strong>主要讲解机器人传感器、光纤传感器、生物传感器和模糊传感器四部分。综合考虑技
                    术发展和学生的兴趣确定了传感器部分的授课内容。选择机器人传感器是因为学生对机器人话题熟悉且感兴趣，且
                    机器人传感器中类型多样化，同一个物理量有多种检测方法，可以作为本科课程到硕士课程内容的顺利过渡。传感
                    器技术主要包括传感器的结构和工作原理、特点和分类、实际应用和技术前沿等内容，理论与实际案例相结合，加
                    深学生印象，便于学生理解。
                </p>
                <p class="article_content">
                    4）<strong>多传感器信息融合（10学时）</strong>主要介绍多传感器信息融合的基础知识和常用的三种融合算法，包括多传感器信息
                    融合的定义、一般过程、时间性和空间性、基本原理、结构和功能模型，以及常用信息融合算法；基于Bayes估计的
                    信息融合及应用，基于D-S证据理论的信息融合及应用和基于神经网络的信息融合及应用。
                </p>
                <p class="article_content">
                    5）<strong>微弱信号检测（4学时）</strong>主要介绍微弱信号检测的基础，常见噪声类别及特点，常规小信号检测方法，常用的锁
                    定放大器等微弱信号检测方法。
                </p>
                <p class="article_content">
                    6）<strong>软测量技术、设计报告讲解和总复习（6学时）</strong>主要介绍软测量的概念和意义，设计步骤，包括辅助变量的选取
                    、测量数据的处理、软测量模型的建立（核心）、软仪表的在线校正以及软测量技术的工业应用。布置课程设计作
                    业需求，并在课程结束前进行总复习。
                </p>

                <br>
                <br>
            </div>
        </div>

{% endblock %}

