{% extends 'layout_base.html' %}

{% block content %}
        <div class="info" style="height:400px;width:740px;margin:20px 30px 20px 30px;">
            <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">教学理念</div>
            <div class="info_detail" style="height: 380px;background-color:rgb(210,210,210);margin-bottom:0px">
                <br>
                <p class="article_content">通过本课程学习，应使学生全面了解现代检测技术的特点、现状和发展趋势，掌握多种新型的检测技术中的传感器感
                    知、信号分析处理及系统集成的设计和分析方法。在介绍现代检测技术的基础理论的同时，进一步介绍新型传感器、
                    检测原理和实际应用，以及微弱信号检测、多传感器数据融合等现代检测系统中重要的组成内容，使学生了解和掌
                    握现代检测技术的最新理论方法，并能够利用所学知识设计检测系统，培养学生积极思考，培养学生独立从事检测
                    系统设计及开发的能力。</p>
                <p class="article_content">
                    课程定位明确，具有“夯实基础、学科前沿、国际视野”多元化的特点，且“检测专业特色+航空航天特色”并重，
                    授课内容主要集中于“传感器”、“信号调理”、“信号采集”和“信号处理”四部分，与学院其他检测专业课程
                    有效结合，旨在为学生提供一个完整的信息获取知识体系和架构。
                </p>
                <p class="article_content">
                    课程内容每年更新，着力把握检测技术前沿，将最新的技术发展趋势引入课堂，开拓学生们的眼界和视野，培养学
                    生们对本专业的兴趣和探索精神。而课程的教学目标是要求学生具有正确、合理地选择常用传感器和检测方法，分
                    析、设计检测系统的能力，并为深入其它专业方向课程奠定良好的基础。
                </p>
                <br>
                <br>
            </div>
        </div>

{% endblock %}

