{% extends 'layout_base.html' %}

{% block content %}
        <div class="left_main">
            <div class="linian">教学资源</div>
            <ul class="list">
                <li class="list-element"><a href="{% url 'resources' %}">参考教材</a></li>
                <li class="list-element"><a href="{% url 'kejian_info' %}">课件信息</a></li>
                <li class="list-element"><a href="{% url 'anli' %}">工程案例</a></li>
                <li class="list-element"><a href="{% url 'qita' %}">其他资源</a></li>
            </ul>
        </div>
        <div class="right_main">
            {% block resources %}
            {% endblock %}
        </div>

{% endblock %}

