{% extends 'layout_base.html' %}

{% block content %}

        <div class="info" style="height: 400px;width:740px;margin:20px 30px 20px 30px;">
            <div class="linian-blue" style="color:darkolivegreen; margin-bottom:5px ">教学队伍</div>
            <div class="info_detail" style="height:380px;background-color:rgb(210,210,210);margin-bottom:0px">
                <br>
                <p class="article_content">教学队伍中的教师教龄长、经验丰富，知识面广，责任心和工作能力强，教学效果良好，
                    获得师生们的好评和认可。 教学队伍的知识结构涵盖了检测技术中的不同领域，是一个具有学历结构、年龄结构
                    和职称结构合理的教学梯队。</p>
                <ul class="team_member" >
                    <li>杨波，博士，自动化学院检测与自动化工程系教授</li>
                    <li>闫蓓，博士，自动化学院检测与自动化工程系副教授</li>
                    <li>于劲松，博士，自动化学院检测与自动化工程系副教授</li>
                    <li>刘颖异，博士，自动化学院检测与自动化工程系讲师</li>
                </ul>
                <ul class="member_detail">
                    <li><a href="http://dept3.buaa.edu.cn/jsdw/qbjs/jcyzdhgcx/js/yb.htm" style="font-size: 12px" target="_blank"><i>>>>教师详情</i></a></li>
                    <li><a href="http://dept3.buaa.edu.cn/jsdw/qbjs/jcyzdhgcx/fjs/yb.htm" style="font-size: 12px" target="_blank"><i>>>>教师详情</i></a></li>
                    <li><a href="http://dept3.buaa.edu.cn/jsdw/qbjs/jcyzdhgcx/fjs/yjs.htm" style="font-size: 12px" target="_blank"><i>>>>教师详情</i></a></li>
                    <li><a href="http://dept3.buaa.edu.cn/jsdw/qbjs/jcyzdhgcx/js1/lyy.htm" style="font-size: 12px" target="_blank"><i>>>>教师详情</i></a></li>
                </ul>
            </div>
        </div>


{% endblock %}

